* {
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
}

html {
    font-size: 100%; /* 100% = 16px */
    scroll-behavior: smooth;
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}  

.navbar {
    width: 100vw;
    height: 15vh;
    background-image: url(images/banner/bg.png);
    padding: 30px 60px 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 1000;
}

.navbar-left a {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: green;
}

.navbar-right a {
    text-decoration: none;
    color: green;
}

.call-delivery {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
    color: green;
}

#nav-list {
    text-transform: uppercase;
    padding-top: 10px;
    display: flex;
    gap: 50px;
    font-size: 25px;
}
#banner {
    height: 100vh;
    background-image: url(images/banner/bg.png);
    position: relative;
    padding-top: 15vh;
}

.banner {
    display: flex;
    padding: 50px 50px 0;
    box-sizing: border-box;
    justify-content: space-around;
}

.banner-desc {
    flex-basis: 100%;
    align-self: center;
    text-transform: uppercase;
}

.banner-desc h5 {
    color: green;
    font-size: 25px;
    padding: 10px 20px;
    width: max-content;
    border-style: dashed;
    border-color: green;
}

.banner-desc h1{
    font-size: 120px;
    color: green;
    text-shadow: 5px 5px white;
}

.banner-desc h3 {
    font-size: 60px;
    color: green;
    text-shadow: 5px 5px white;
}

.banner-img {
    flex-basis: 100%;
    position: relative;
    display: none;
    animation-name: fade;
    animation-duration: 2s;
}

.discount {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #ff6d00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 68%;
}

.discount div {
    width: 150px;
    height: 150px;
    background-color: #ff6d00;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(20deg);
    font-size: 25px;
    color: white;
}

.discount div p {
    font-size: 60px;
}

.discount div span {
    display: block;
    text-transform: uppercase;
}

.next {
    right: 0;
}

.next, .prev {
    position: absolute;
    top: 50%;
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.next:hover, .prev:hover {
    color: rgba(0, 150, 0, 0.8);
}

.slideMenu {
    text-align: center;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.active, .dot:hover {
    background-color: green;
}

.banner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    gap: 35px;
}

.banner-grid-item-1 {
    grid-row: 1 / 3;
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
    margin-left: 120px;
}

.banner-grid-item-2 {
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
    margin-right: 120px;
}

.banner-grid-item-3 {
    box-sizing: border-box;
    position: relative;
    margin-right: 120px;
}

.banner-grid-text {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 30px 0 0 25px;
    position: absolute;
    font-size: 30px;
}

.banner-grid-text *{
    padding-bottom: 10px;
}

.banner-grid-image {
    width: 100%;
    height: 100%;
}

#menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 132px;
    box-sizing: border-box;
}

.menu-top {
    height: 218px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: uppercase;
    align-items: center;
}

.menu-top h4 {
    color: orangered;
    background-color: #ffe6d4;
    width: max-content;
    padding: 20px;
}

.menu-top h2 {
    color: green;
}

.menu-top p {
    text-transform: none;
}

.menu-bottom {
    margin-top: 70px;
    height: 544px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.menu-bottom-item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-bottom-item img {
    height: 331px;
}

.menu-bottom-item p {
    font-size: 18px;
    padding: 0 150px;
    box-sizing: border-box;
    text-align: center;
}

.menu-bottom-item h3 {
    color: green;
    font-size: 40px;
    width: max-content;
    text-transform: uppercase;
}

.menu-bottom-item button {
    background-color: #ff6d00;
    color: white;
    width: max-content;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
}

.menu-bottom-item button:hover {
    background-color: green;
    cursor: pointer;
}

#events {
    height: 65vh;
    padding: 150px 75px 0;
    position: relative;
}

.events {
    padding: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    box-shadow: 25px 35px 25px 0px rgba(100, 100, 111, 0.2);
}
.events-header {
    font-size: xx-large;
    color: green;
    padding: 60px 20px 60px 50px;
    position: relative;
}

.events-item-image {
    background-image: url(images/events/event_1.png);
    background-size: cover;
}
#gallery {
    height: 80vh;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery-title {
    font-size: 40px;
    color: green;
}
.gallery-photo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

#gallery-photo-item {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-photo {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}

#gallery-photo-item:hover .overlay-photo,
#gallery-photo-item:hover .photo{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.3);
}

.photo {
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
}

.reservation {
    display: flex;
    height: 85vh;
    padding-top: 15vh;
    position: relative;
    box-sizing: border-box;
}

.reservation-left {
    position: relative;
    flex-basis: 23%;
}

#left-food {
    position: absolute;
    top: -110px;
    left: -150px;
    margin-bottom: 25px;
}
#left-drink {
    position: absolute;
    top: 140px;
    left: 170px;
}
.reservation-center {
    flex-basis: 54%;
    padding: 60px 80px 150px;
    box-sizing: border-box;
    position: relative;
}

.section-header {
    text-align: center;
    color: green;
    text-transform: uppercase;
}

.section-header h4 {
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 45px;
}

.reservation-form {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
}

.reservation-form-rows {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.order {
    width: 400px;
    height: 65px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.order input {
    display: block;
    width: 100%;
    border: none;
    font-size: 20px;
}

.order input:focus {
    outline: none;
}

#form-button {
    width: 400px;
    height: 65px;
    color: white;
    background-color: orangered;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

#form-button:hover {
    background-color: green;
    cursor: pointer;
}

.reservation-right{
    flex-basis: 23%;
    position: relative;
    overflow: hidden;
}
#right-food {
    position: absolute;
    right: -245px;
    bottom: -200px;
}

#contact {
    height: 53vh;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top {
    padding-top: 80px;
    padding-left: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-top p{
    padding-left: 30px;
    color: white;
    font-size: 40px;
}
.footer-middle {
    padding-left: 40px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-description {
    color: white;
    font-size: 18px;
    margin-right: 700px;
}

.footer-contact-item {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-contact-item a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-contact-item a:hover {
    color: coral;
}

.footer-contact-item img {
    width: 40px;
    height: 40px;
}

.footer-bottom {
    margin: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p{
    color: white;
    font-size: 20px;
}

.social img{
    padding-left: 10px;
    width: 30px;
    height: 30px;
}

#scroll-up {
    bottom: 100px;
    right: 50px;
    position: fixed;
    display: none;
    z-index: 999;
    cursor: pointer;
}

#scroll-up img {
    width: 40px;
    height: 40px
}
